img {
    height: 50px;
    width: 70px;
}

.box {
    margin: 15px 0;
    padding: 10px;
    background: #bff3dc;
}
.column-width{
    max-width: 50px!important;
}
.btn {
    width: 100%;
    display: block;
    text-align: center;
    margin-top: 20px;
}